#imageContainer {
   background-color: #1c1c1c;
   color: #cccccc
}
#imageContainer{
    border: solid #cccccc8c 0px;
    background-color: #1e1e1e1e;
    width: 500px;
    height: 300px;
    cursor: pointer;
}

img{
    width: 450px;
}